<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//cdn.bootcss.com"/>
    <link rel="dns-prefetch" href="//secure.gravatar.com"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>mmpic -妹子图片分享</title>
    <meta name="keywords" content="妹子图片,美女图片,性感美女,丝袜美腿,清纯,少女,萝莉"/>
	<meta name="description" content="mmpic分享高品质美女图片，快速无弹窗。可以长期收藏的美女图片站">
    <link href="/static/mmpic/css/xcode.min.css" rel="stylesheet">
    <link href="/static/mmpic/css/style.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/mmpic/js/html5.min.js"></script>
    <script src="/static/mmpic/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            mmpic </a>
        <div class="navbar-menu">
			<a href="/">首页</a>
		{% for types in typelist %}
             <a href="{% url 'type' types.type_id %}">{{ types.type }}</a>
        {% endfor %}
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form id="search" method="GET" action="/search/" role="search">
                <span class="search-box">
                    <input type="text" id="input" class="input" name="s" required="true" placeholder="Search..."
                           maxlength="30" autocomplete="off">
                </span>
            </form>
        </div>
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
		<li><a href="/">首页</a></li>
		{% for types in typelist %}
             <li><a href="{% url 'type' types.type_id %}">{{ types.type }}</a></li>
        {% endfor %}
            </ul>
        </div>
    </div>
</header>
<div class="main-content index-page clearfix ">
    <div class="post-lists">
        <div class="post-lists-body">
        {% load pagination_tags %}
            {% autopaginate data 12 %}
            {% for imglist in data %}
                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-thumb  bg-deepgrey"
                             style="background-image:url({{ imglist.firstimg }});"></div>
                        <a href="{% url 'article' imglist.pid %}">
                            <div class="item-desc">
                                <p></p>
                            </div>
                        </a>
                        <div class="item-slant reverse-slant  bg-deepgrey"></div>
                        <div class="item-slant"></div>
                        <div class="item-label">
                            <div class="item-title"><a href="{% url 'article' imglist.pid %}">{{ imglist.title }}</a></div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-cat">{{ imglist.sendtime |date:'Y-m-d' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
			</div>
			    </div>
		<div class="lists-navigator clearfix">
        {% paginate %}
		</div>



    </div>
</div>


<footer id="footer" class="footer ">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
                <a class="social rss" target="blank" href="http://www.mmpic.com/feed/">RSS</a>
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="http://www.mmpic.com/" class="info-logo">
                        mmpic </a>
                    <div class="info-text">
                        <p>本主题来自 <a href="https://github.com/chakhsu/pinghsu" target="_blank">Pinghsu
                        <p>Powered by <a href="https://www.djangoproject.com/" target="_blank" rel="nofollow">Django</a></p>
                        <p>&copy; 2018 <a href="/">mmpic</a></p>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">FRIENDSHIP LINK</h3>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">STATEMENT</h3>
                <li><a href="/">本站所有资源均来源于网络<br />
				如侵犯您权利，请来信告知<br />
				我们将及时撤销相应资源。<br />
				联系邮箱：<br />
				copyright@mmpic.com</a></li>
            </div>
        </div>
    </div>
</footer>

<script src="/static/mmpic/js/headroom.min.js"></script>
<script>
    var header = new Headroom(document.getElementById("header"), {
        tolerance: 0,
        offset: 70,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
</script>

</body>
</html>
